body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("1.jpg");
}

.container {
    text-align: center;
    background: #218d21;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(111, 21, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

input[type=password] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

button {
    background-color: #1e3352;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #bd2e35;
}

#passwordHint {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
}
